.vscode/settings.json
deleteme/.gitignore
deleteme/app.json
deleteme/App.tsx
deleteme/babel.config.js
deleteme/package-lock.json
deleteme/package.json
deleteme/tsconfig.json
deleteme/types.tsx
deleteme/.expo-shared/assets.json
deleteme/assets/fonts/SpaceMono-Regular.ttf
deleteme/assets/images/adaptive-icon.png
deleteme/assets/images/favicon.png
deleteme/assets/images/icon.png
deleteme/assets/images/splash.png
deleteme/components/EditScreenInfo.tsx
deleteme/components/StyledText.tsx
deleteme/components/Themed.tsx
deleteme/components/__tests__/StyledText-test.js
deleteme/constants/Colors.ts
deleteme/constants/Layout.ts
deleteme/hooks/useCachedResources.ts
deleteme/hooks/useColorScheme.ts
deleteme/navigation/index.tsx
deleteme/navigation/LinkingConfiguration.ts
deleteme/screens/ModalScreen.tsx
deleteme/screens/NotFoundScreen.tsx
deleteme/screens/TabOneScreen.tsx
deleteme/screens/TabTwoScreen.tsx
.DS_Store
PythonCode/randomfile.txt
PythonCode/shhh.txt
PythonCode/tester.py
PythonCode/epic.txt
PythonCode/examp.txt
dining_application/.vscode/settings.json
dining_application/Core/keys.js
PythonCode/test_cron.py