
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    border-radius: 25px;
  }
  
  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .customButton {
    width: 90px;
    height: 40px;
    letter-spacing: 0.5px;
    background-image: "url('./assets/adaptive-icon.png')";
    color: white;
    font-size: 18px;
    border: 1.5px solid #E0314B;
    border-radius: 5px;
    cursor: pointer;
    }

  .active{
    background-color: #e0bd31;
    border: 1.5px solid #e0bd31;
  }

    