
/* New styles */
/* Dining halls open for breakfast/lunch/dinner or closed */
.dining_hall_open{
  width: 301px;
  height: 21px;
  left: 1089px;
  top: 213px;

  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 590;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

/* Previous styles */
body{
    margin: 0;
    background: #CFEAF9;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    overflow: scroll;
}
.flex{
    display: flex;
}
.flex > *{
    font-size: 25px;
}

p {
    text-align: left;
    font-size: 16px;
    margin: 0;
}

.square {
  /*transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 220px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(209, 23, 23, 0.09) 0px 32px 16px;;
  }
  
  .square:focus {
    outline: none;
  }
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  .board-col:after {
    clear: both;
    content: "";
    display: table;
  }

h1 {
  width: 248px;
  height: 29px;
  left: 1089px;
  top: 157px;
  color:#000000;
  
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 29px; 
}

img{ 
    display: block;
    border: 3px solid rgb(238, 141, 37); 
    
}

.pbackground{
    text-align: center;
    font-size: 22px;
    width: 80%;
    background-color: rgb(230, 199, 230);
    margin: auto;
}

#pic{
    margin: auto;
    width: 80%;
}


/* Container to position the button at the center of an image */
.container {
    float: left;
    position: relative;
    width: 40%;
    padding: 5px;
  }
  
  .container .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
  }
  
  .container .btn:hover {
    background-color: black;
  }
  