
/* Header menu styling */
.navbar {
    overflow: hidden;
    background: linear-gradient(to right, rgb(239, 212, 102), rgb(238, 141, 37));
    opacity: 0.92;
    font-family: 'Roboto', sans-serif;
}
.navbar a {
    float: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 590;
    font-size: 18px;
    line-height: 10px;
    
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(255, 166, 0, 0.966);
}

/* Main header */
.topbar{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #CFEAF9;
    transition: 1s;
}

section{
    width: 100%;
    height: 100vh;
}
